
.demo {
  font-size: var(--vt-doc-code-font-size);
  background: var(--vp-code-block-bg);
  padding: 2em;
  position: relative;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.5s;
}

.demo-source-link {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-c-text-dark-3);
  transition: color 0.5s;
}

@media (min-width: 720px) {
  .demo {
    --width: calc(100vw - var(--sidebar-width) - var(--scrollbar-width)) !important;
    --content-width: min(48rem, var(--width)) !important;
    --margin-left: calc(
            calc(calc(var(--content-width) - var(--width)) / 2) - 1.5rem
    ) !important;
  }
}
